# common
.DS_Store
.idea/*

# application
/vendor
/node_modules
npm-debug.log
.env
/public/packages/*
/public/images/*
/public/css/*
storage/debugbar
storage/database.sqlite
composer.phar

# test
.bundle/
storage/behat/*
