body {
}

a {
    color: #4eb691;
}

.container {
    max-width: 980px;
}

.navbar {
    margin-bottom: 0px;
    min-height: 50px;
}

.navbar-default {
    background-color: #f6f6f6;
}

.navbar-default .navbar-brand {
    font-family: "Allerta","Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
    text-shadow: 0 1.5px 0 #ffffff;
    color: black;
}

.navbar-default .navbar-nav li a {
    color: #4eb691;
    text-shadow: 0 1.5px 0 #ffffff;
}

#pagehead {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    min-height: 68px;
    background-color: #fcfcfc;
    border-bottom: 1px solid #e7e7e7;
}

.page-title {
    margin: 0px 0px 0px;
    font-size: 20px;
}

#contents .items {
    margin: 10px 0px;
}

#contents .item {
    margin: 10px 0px;
    padding: 5px 0px 15px 0px;
    border-bottom: 1px dotted #e7e7e7;
}

#contents .item img {
    margin-right: 10px;
    float: left;
}

#contents .item p {
    overflow: hidden;
    color: #666666;
    margin: 0px;
    padding: 0px;
}

#contents .item .username {
    color: #333333;
}

.pagination li a,
.pagination li span {
    color: #4eb691;
}

.pagination .active a,
.pagination .active span,
.pagination .active a:hover,
.pagination .active span:hover,
.pagination .active a:focus,
.pagination .active span:focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#sidebar .btn {
    margin: 10px 0px;
}


#footer .container {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #eeeeee;
}

#footer p {
    text-align: center;
}
